<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ソラの日記</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <header>
    <img src="{{url_for('static', filename='logo.jpg')}}" alt="ロゴ画像"  class="header-logo">
    <h1>わたしの作品</h1>
    <p>　はじめまして！！ここはわたしが作り上げた作品を紹介する場所です！大学生活を送る中で自分自身が作りたいゲームやアプリを次々と投稿していくよ。
       まだまだ勉強不足だし、今のページを見てもあまりうまくはないけど精一杯作り上げていくよ！更新頻度は1週間から2週間を目安に頑張っていくつもり！
       ここのページも少しずつ良くなっていくから見守ってください！
    </p>
  </header>

<nav>
  <ul>
    <li><a href="index.html">ホーム</a></li>
    <li><a href="production.html">作品一覧</li>
    <li><a href="diary.html">日記一覧</a></li>
  </ul>
</nav>

<main>
  <div class="profile"><h2>プロフィール</h2>
    <!--今はプロフィールの画像がないができれば自分で作った画像を貼り付けたいと思っている-->
    <p>情報系の大学に通っている2年生！</p>
    <p>趣味：ゲーム、伝統もの、食べること</p>
    <p>作っていきたいもの：迷路ゲーム、シューティングゲーム、音ゲー、RPG、便利なアプリ</p>
    <p>ひとこと：毎日一歩ずつ頑張るぞー！</p>
  </div>
</main>
</body>
</html>